.header
    .header__column
        h1
            i.fab.fa-youtube WeTube
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") LogIn
        