.header
    .header__column
        h1
            i.fab.fa-youtube WeTube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", name="term", placeholder= "Searching By")
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") LogIn
        