doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")
        link(rel="shortcut icon" href="https://wetube-orange.s3.ap-northeast-2.amazonaws.com/images/we2.jpg")
        title #{pageTitle} | #{siteName}

    body
        header
            include ../partials/header
        main
            block content
        footer
            include ../partials/footer
        script(src="/static/main.js")
            
//- <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="image/x-icon">