.header {
  //   background-color: $red;
  // background-color: lightgray;
  //   background-image: linear-gradient(to right, #fe8c00, #f83600);
  background-color: #f9ca24;
  background-image: linear-gradient(to left, #fe8c00, #f9ca24);
  margin-bottom: 50px;
  .header__wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      &:nth-child(1) {
        i {
          color: white;
          font-size: 40px;
        }
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
        i {
          position: absolute;
          top: 10px;
          left: 12px;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.3);
        }
      }
      &:nth-child(3) {
        justify-self: end;
      }
    }
    ul {
      display: flex;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      li:not(:last-child) {
        margin-right: 15px;
      }
    }
    form {
      width: 100%;
      position: relative;
      input {
        padding: 5px 30px;
        width: 100%;
        margin: 5px;
        border-radius: 12px;
        color: $black;
        font-size: 14px;
        font-weight: 600;
        &::placeholder {
          //   color: $dark-grey;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.4);
        }
        &:hover {
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        }
      }
    }
  }
}
