extends layouts/main

block content
    .form-container
        form(action=routes.changePassword(loggedUser.id), method="post")
            input(type="password", name="oldPassword", placeholder="Current Password", ruquired)
            input(type="password", name="newPassword", placeholder="New Password", ruquired)
            input(type="password", name="newPassword2", placeholder="Verify New Password", ruquired)
            input(type="submit", value="Change Password")
        span.error-text
