extends layouts/main
include mixins/videoBlock

block content
    h2=pageTitle
    each video in videos
        +videoBlock({
            id:video.id,
            title:video.title,
            description:video.description,
            views:video.views,
            fileUrl:video.fileUrl
        })