extends templates/layout
include mixins/movieBlock

block content
    each movie in videos
        +movieBlock({
            id:movie.id,
            fileUrl:movie.fileUrl,
            title:movie.title,
            views:movie.views
        })