extends layouts/main
include mixins/videoBlock

block content
    H2 Branch 2
    .videos
        each item in videos
            +videoBlock3({
                id:item.id,
                videoFile:item.videoFile,
                title:item.title,
                description:item.description,
                views:item.views
            })

        

