extends layouts/main
include mixins/videoBlock

block content
    //- .pageTitle=pageTitle 
    .pageTitle 
        span.loggedUserName=userName
        span=userText
    .videos
        each video in videos
            +videoBlock3({
                id:video.id,
                fileUrl:video.fileUrl,
                link:video.link,
                youtubeLink:video.youtubeLink,
                title:video.title,
                creatorId:video.creator.id,
                creatorName:video.creator.name
            })
    

                //- description:video.description,
                //- views:video.views
        

