extends layouts/main
include mixins/videoBlock

block content
    //- H2=pageTitle 
    .videos
        each video in videos
            +videoBlock3({
                id:video.id,
                fileUrl:video.fileUrl || video.link,
                youtubeLink:video.youtubeLink,
                title:video.title
            })
    

                //- description:video.description,
                //- views:video.views
        

