extends layouts/main
include mixins/videoBlock

block content
    .search__header
        H2 Searching by #{searchingBy}
    .search__videos
        if videos.length === 0
            h4 ⛔No Videos Found
        each item in videos
            +videoBlock3({
                fileUrl:item.fileUrl || item.link,
                youtubeLink:item.youtubeLink,
                title:item.title,
                id:item.id,
                creator:item.creator.name
            })