extends layouts/main
include mixins/videoBlock

block content
    .search__header
        H2 Searching by #{searchingBy}
    .search__videos
        if videos.length === 0
            h4 ⛔No Videos Found
        each video in videos
            +videoBlock3({
                fileUrl:video.fileUrl || video.link,
                youtubeLink:video.youtubeLink,
                title:video.title,
                id:video.id,
                creatorId:video.creator.id,
                creatorName:video.creator.name
            })