extends layouts/main
include mixins/videoBlock

block content
    .search__header
        H2 Searching by #{searchingBy}
    .search__videos
        each item in videos
            +videoBlock3({
                videoFile:item.videoFile,
                title:item.title,
                description:item.description,
                views:item.views
            })