extends layouts/main

block content
    .form-container  
        form(action=`/videos${routes.upload}`, method="post")
            label(for="File") Video File
            input(type="file", id="file" name="file", required)
            input(type="text", name="title", placeholder="Title", required)
            textarea(name="description", placeholder="Description", required)
            input(type="submit", value="Update Video")
