extends layouts/main
include mixins/videoBlock

block content
    p=pageTitle
    //- .videos
    //-     +videoBlock({
    //-         id:item.id,
    //-         fileUrl:item.fileUrl,
    //-         title:item.title,
    //-         description:item.description,
    //-         views:item.views
    //-     })
