mixin videoBlock3(video={})
    video.videoBlock__thumbnail(src=video.videoFile, controls)
    h2.videoBlock__title=video.title
    p.videoBlock__description=video.description
    p.videoBlock__views=video.views