.myVideosBtn {
  font-size: 12px;
  color: black;
  background-color: white;
  user-select: none;
  padding: 5px 10px;
  font-weight: 400;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 10px;
  &:active {
    transform: scale(0.97);
  }
}

.pageTitle {
  .loggedUserName {
    font-size: 16px;
    font-weight: 600;
    // position: absolute;
    // left: 120px;
    // top: -15px;
  }
  span {
    font-size: 16px;
  }
}

.search__videos,
.videos {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .videoBlock {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    .videoBlock__video {
      // background-color: red;
      width: 250px;
      .backColor {
        width: 100%;
        height: 140px;
        background-color: black;
        margin-bottom: 5px;
        position: relative;
        .for-link {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
        iframe,
        video {
          width: 100%;
          height: 100%;
        }
      }
      .videoBlock__title {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .videoBlock__creator {
      opacity: 0.7;
      span {
        font-size: 13px;
        text-transform: capitalize;
      }
    }
  }
}
