.search__videos,
.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .videoBlock {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 250px;
    .backColor {
      width: 100%;
      height: 140px;
      background-color: black;
      margin-bottom: 5px;
      position: relative;
      .for-link {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }
      iframe,
      video {
        width: 100%;
        height: 100%;
      }
    }
    .videoBlock__title {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
