.video-wrapper {
  width: 700px;
  min-width: 500px;
  margin-bottom: 50px;

  .video-player,
  .video-player-youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    // background-color: black;
    margin-bottom: 10px;
    overflow: hidden;
    iframe,
    video {
      outline: none;
      width: 100%;
      height: 100%;
    }
    video {
      transform: scale(1.04);
    }
  }
  .video-info__buttons {
    margin-bottom: 20px;
    text-align: right;
  }

  .video-info {
    //   background-color: red;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    .video-info__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      .video-info__title-column {
        height: 35px;
        p {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 5px;
        }
        span {
          font-weight: 600;
          text-transform: capitalize;
        }
        .video-info__views {
          text-align: right;
        }
        .video-info__creator {
          margin-bottom: 5px;
        }
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
    .video-info__description {
      font-size: 15px;
      line-height: 18px;
      color: #5a5a5a;
      margin-bottom: 20px;
    }
  }
  .video__comments {
    // background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .video__comment-number {
      margin-bottom: 20px;
    }
    .video__comments-list {
      margin-bottom: 20px;
      width: 100%;
      li {
        width: 100%;
        display: flex;
        padding: 7px 0px;
        position: relative;
        // &:hover {
        //   background-color: rgb(238, 238, 238);
        // }
        .video__comments-list__column {
          &:first-child {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            margin-right: 10px;
            img {
              width: 40px;
              height: 40px;
              border: 0px;
            }
            svg {
              color: #d2d6dc;
              background-color: #ffffff;
            }
          }
          &:nth-child(2) {
            max-width: 580px;
            line-height: 18px;
            display: flex;
            flex-direction: column;
            .video__comment-list-createInfo {
              // margin-bottom: 5px;
              display: flex;
              align-items: center;
              span {
                &:first-child {
                  font-weight: 600;
                  margin-right: 5px;
                  text-transform: capitalize;
                  // text-transform: uppercase;
                }
                &:last-child {
                  font-size: 11px;
                  color: rgba(0, 0, 0, 0.6);
                }
              }
            }
          }
          &:last-child {
            position: absolute;
            right: 0px;
            // background-color: lightgray;
            .delete-btn {
              // box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.4);
              font-size: 12px;
              background-color: #e2e2e2;
              // background-color: #3498db;
              color: rgb(112, 112, 112);
              border: 0;
              // border-radius: 5px;
              outline: none;
              padding: 5px 10px;
              user-select: none;
              cursor: pointer;
              &:active {
                transform: scale(0.95);
              }
            }
          }
        }
        // border-top: 1px solid rgb(226, 226, 226);
        // &:not(:first-child) {
        // }
      }
    }
    form {
      width: 100%;
      input {
        height: 45px;
        width: 100%;
        border: 0px;
        padding-left: 15px;
        background-color: white;
        &:hover {
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        }
        &::placeholder {
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
